.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form-group{
    display:grid;
    grid-template-columns: 0.90fr 0.90fr;
}
.spacing{
    margin-top: 4%;
}
.btn-group{
    margin-left: 78%;
}
.text-center{
    text-align: center;
}
.active{
    text-decoration: none;
    color: black;
}